{% extends "travel_agency/base.html" %}

{% block title %}Školní zájezdy - seznam exkurzí{% endblock %}
{% block content %}
<div style="text-align:left">
	<h3>Exkurze</h3>
	<ul>
		<li><strong>ID:</strong> {{excursion.id}} </li>
		<li><strong>Jméno a příjmení:</strong> {{ excursion.customer.name }} {{ excursion.customer.surname }}</li>
		<li><strong>Destinace:</strong> <a href="/destinations/{{ excursion.destination.id}}/">{{ excursion.destination.city}}</a></li>
		<li><strong>Datum:</strong> {{ excursion.datetime }}</li>
		<li><strong>Popis:</strong> {{ excursion.desc }}</li>
	</ul>
	<a href="/excursions/">Zpět na exkurze</a>
</div>
{% endblock %}